.main {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .main_image {
    transition: 0.5s ease;

    &:hover {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      transition: 0.5s ease;
    }
  }

  .main_three {
    display: flex;
    gap: 15px;

    .three {
      transition: 0.5s ease;

      &:hover {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        transition: 0.5s ease;
      }
    }
  }
  .main_head {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */
    color: #ffffff;
  }
  .main_creator {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #ffffff;
    display: flex;
    gap: 12px;
    align-items: center;
  }
}
