.main {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 316px;

  transition: 0.5s ease;

  &:hover {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5s ease;
  }

  .text {
    background-color: #3b3b3b;
    padding: 20px 30px;
    display: flex;
    border-radius: 0px 0px 20px 20px;
    width: 240px;
    height: 76px;

    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    color: #ffffff;
    display: flex;
  }
  .photomain {
    overflow: hidden;
    .photo {
      width: 240px;
      position: absolute;
      height: 240px;
      display: flex;
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .photo2 {
    width: 240px;
    z-index: 5;
    // margin: 70px;
    border-radius: 20px 20px 0px 0px;
    height: 240px;
    backdrop-filter: blur(5px);
    padding: 70px;
  }
}
