.pre {
  padding: 5rem 7.188rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;

  .head {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  .main {
    display: flex;
    justify-content: space-between;
  }

  .subhead {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .subhead_button {
      padding: 20px 50px;
      border: 2px solid #a259ff;
      border-radius: 20px;
      background-color: #2b2b2b;
      color: white;

      font-family: "Work Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      cursor: pointer;
    }
  }
}
